.wysiwyg_collapsible .wysiwyg_collapsible_target {
 color:#03b1dc; 
 background-image:url(../images/arrow-closed.png);
 background-repeat:no-repeat;
 background-position:0px 7px;
 padding:5px 20px;
 cursor:pointer;
}

.wysiwyg_collapsible {
  border-bottom:1px solid #333;
}

.wysiwyg_collapsible.active .wysiwyg_collapsible_target {
  background-image:url(../images/arrow.png);

}

.wysiwyg_collapsible .wysiwyg_collapsible_target:hover {
  color:#047895;
}

.wysiwyg_collapsible .wysiwyg_collapsible_source {
  background-color:#eee;
  padding:5px 5px 5px 20px;
}
