.wysiwyg_collapsible {
 border:1px solid #aaa;
 padding:3px; 
}

.wysiwyg_collapsible .wysiwyg_collapsible_target {
 border:1px solid #03b1dc;
 color:#03b1dc;
 padding:3px; 
 background-image:url(../images/arrow.png);
 background-repeat:no-repeat;
 background-position:0px 3px;
 padding-left:17px;
}

.wysiwyg_collapsible .wysiwyg_collapsible_source {
 border:1px solid #dc7903;
 padding:3px;
 padding-left:17px;
}